@charset "UTF-8";

form{
	width: 500px;
}

fieldset{
	border: 4px #f08080 solid;
}

fieldset#cadastro{
    background: url("../_imagens/add.png") no-repeat 95% 95%;
    background-size: 200px;
}
fieldset#consulta{
    background: url("../_imagens/casa3.png") no-repeat 95% 95%;
    background-size: 150px;
}
fieldset#alteracao{
    background: url("../_imagens/correio.png") no-repeat 95% 95%;
    background-size: 150px;
}
fieldset#exclusao{
    background: url("../_imagens/ajuda.png") no-repeat 95% 95%;
    background-size: 180px;
}
